#nav-account .title,
#nav-account .title i {
  color: var(--main-color) !important;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}

#nav-account .navbar-toggler.collapsed {
  display: none !important;
}

@media (width <=992px) {
  #nav-account .navbar-toggler.collapsed {
    display: block !important;
  }
}

#side-bar {
  min-width: 300px;
}

#side-bar .wrapper {
  background-color: var(--light-color);
  border-radius: var(--radius-m);
  padding: 8px 16px;
  line-height: 2;
}

.side-bar-top .my-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.side-bar-bottom .side-bar-item,
.side-bar-bottom .delete-acc,
.offcanvas-body .nav-item-account,
.offcanvas-body .delete-acc {
  position: relative;
  color: var(--dark-color);
  cursor: pointer;
  margin-bottom: 8px;
  border-bottom: 1px solid var(--light-color);
  transition: all .3s ease;
  width: 70%;
  padding: 4px;
}

.side-bar-bottom .side-bar-item i,
.side-bar-bottom .delete-acc i {
  min-width: 20px;
  transition: all .3s ease;
}

.side-bar-bottom .side-bar-item::before,
.offcanvas-body .nav-item-account::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: var(--main-color);
  top: 100%;
  transform: scale(0);
  transition: all .4s ease;
}

.side-bar-bottom .side-bar-item:hover::before,
.side-bar-bottom .side-bar-item.active::before,
.offcanvas-body .nav-item-account:hover::before,
.offcanvas-body .nav-item-account.active::before {
  transform: scale(1);
}

.side-bar-bottom .side-bar-item:first-of-type {
  margin-top: 8px;
}

.side-bar-bottom .side-bar-item:hover,
.side-bar-bottom .side-bar-item:hover i,
.side-bar-bottom .side-bar-item.active,
.side-bar-bottom .side-bar-item.active i,
.offcanvas-body .nav-item-account:hover,
.offcanvas-body .nav-item-account.active,
.offcanvas-body .nav-item-account.active i {
  color: var(--main-color);
}

.side-bar-bottom .delete-acc::before,
.offcanvas-body .delete-acc::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  top: 100%;
  background-color: var(--red-color);
  transform: scale(0);
  transition: all .4s ease;
}

.side-bar-bottom .delete-acc:hover::before,
.offcanvas-body .delete-acc:hover::before {
  transform: scale(1);
}

/*! input group  */
.inputGroup {
  font-family: 'Segoe UI', sans-serif;
  margin: 1em 0 1em 0;
  position: relative;
  margin: 24px 0;
}

.inputGroup input {
  font-size: 100%;
  max-width: 300px;
  padding: .5rem;
  outline: none;
  border: 2px solid rgba(200, 200, 200, .3);
  background-color: transparent;
  border-radius: 20px;
  width: 100%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.inputGroup label {
  font-size: 100%;
  position: absolute;
  left: 0;
  padding: .6rem;
  margin-left: 0.5em;
  pointer-events: none;
  transition: all 0.3s ease;
  color: rgb(100, 100, 100);
}

.inputGroup :is(input:focus, input:valid)~label {
  transform: translateY(-50%) scale(.8);
  margin: 0em;
  margin-left: 1.3em;
  padding: 0.4em;
  background-color: #fff;
  color: #5AB2FF;
}

.inputGroup :is(input:focus, input:valid) {
  border-color: #5AB2FF;
}

/*! radio */
.radio-inputs {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  border-radius: 0.5rem;
  background-color: #EEE;
  box-sizing: border-box;
  box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
  padding: 0.25rem;
  width: 300px;
  font-size: 14px;
}

.radio-inputs .radio {
  flex: 1 1 auto;
  text-align: center;
}

.radio-inputs .radio input {
  display: none;
}

.radio-inputs .radio .name {

  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  border: none;
  padding: .5rem 0;
  color: rgba(51, 65, 85, 1);
  transition: all .15s ease-in-out;
}

.radio-inputs .radio input:checked+.name {
  background-color: #fff;
  font-weight: 600;
  color: var(--main-color);
}

#profiles,
#message,
#purchase-order,
#change-password {
  background-color: var(--light-color);
  border-radius: var(--radius-m);
  padding: 8px 16px;
}

/*! profiles */
#profiles .wrapper-input {
  max-width: 310px;
  margin: 0 auto;
}

#profiles #my-birthday {
  width: 200px;
  background: #F6F5F2 url(/img/calendar.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right center;
  background-origin: content-box;
  font-size: 18px;
  text-align: center;
  font-weight: bold
}

#profiles #my-birthday::-webkit-calendar-picker-indicator {
  opacity: 0;
}

#profiles .img-prev {
  border-radius: 50%;
  width: 272px;
  height: 272px;
  object-fit: cover;
  object-position: center;
}

#profiles .custom-file-label {
  margin-top: 16px;
  padding: 15px 40px;
  user-select: none;
  letter-spacing: 1.5px;
  cursor: pointer;
  box-shadow: 5px 15px 25px rgba(0, 0, 0, 0.35);
  transition: all .4s linear;
}

#profiles .custom-file-label:active {
  transform: scale(.8);
}

/*! message */
#message .message-top,
#message .message-bottom {
  background-color: var(--light-color);
}

#message .message-top .search-message {
  border: 2px solid var(--border-color);
  padding-left: 8px;
  transition: all .2s linear;
}

#message .message-top .search-message:focus-visible {
  outline: none;
  border: 2px solid var(--main-color) !important;
}

#message .divider .line {
  height: 2px;
  width: 100%;
}

#message .items-chat .item-chat img,
#message .message-bottom .send-message img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

#message .items-chat .item-chat:hover {
  background-color: #f6f5f2 !important;
}

#message .box-chat {
  height: 400px;
}

#message .wrapper-items-chat {
  height: 342px;
}

.message-bottom .send-message .wrapper-message-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  color: var(--main-color);
  border-radius: 50%;
}

.message-bottom .send-message .wrapper-message-icon:hover {
  background-color: rgba(0, 0, 0, 0.03)
}

.message-bottom .send-message .wrapper-message-icon:hover i {
  color: #0084ff;
}

#tooltip-top>.tooltip-inner {
  background-color: #fff;
  color: #000;
  border-color: var(--border-color);
}

#tooltip-top>.tooltip-arrow {
  display: none;
}

/*! purchase_order */
#purchase-order .order-title {
  border: 1px solid #fff;
  border-radius: 8px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1);
  background-color: #f9fafc;
  font-size: 0;
  height: 50px;
  overflow: hidden;
  transition: height .6s linear;
}

#purchase-order .order-title .order-title-item {
  display: inline-block;
  font-size: 1rem;
  text-decoration: none;
  line-height: 45px;
  z-index: 1;
  text-align: center;
  color: #B7B7B7;
  transition: color .4s linear;
  font-weight: bold;
}

#purchase-order .order-title .toggle-order-item {
  display: none;
  text-align: center;
  width: 30px;
  height: 30px;
  line-height: 30px;
  position: absolute;
  top: 8px;
  right: 4px;
  border-radius: 50%;
  transition: all .2s linear;
  z-index: 2;
  cursor: pointer;
}

#purchase-order .order-title .toggle-order-item:hover {
  background-color: #e5f1fe;
  color: var(--main-color);
}

#purchase-order .order-title .animation {
  position: absolute;
  height: 100%;
  height: 5px;
  bottom: 0;
  z-index: 0;
  background: var(--main-color);
  border-radius: 8px;
  transition: all .4s ease 0s;
}

@media (width <=1050px) {
  #purchase-order .order-title {
    border: 1px solid var(--border-color);
  }

  #purchase-order .order-title .toggle-order-item {

    display: block !important;
  }

  #purchase-order .order-title .animation {
    display: none !important;
  }

  #purchase-order .order-title .order-title-item {
    display: block !important;
    text-align: left;
    padding-left: 16px;
  }

  #purchase-order .order-title .order-title-item:nth-child(1) {
    width: 90% !important;
  }

  #purchase-order .order-item-active {
    display: block !important;
  }
}

#purchase-order .order-title .order-title-item:hover,
#purchase-order .order-title-item.active {
  color: var(--main-color) !important;
}

#purchase-order .order-title .order-title-item:nth-child(1) {
  width: 100px;
}

#purchase-order .order-title .start-home,
#purchase-order .order-title .order-title-item:nth-child(1):hover~.animation,
#purchase-order .order-title .order-title-item:nth-child(1).active~.animation {
  width: 96px;
  left: 4px;
}

#purchase-order .order-title .order-title-item:nth-child(2) {
  width: 110px;
}

#purchase-order .order-title .order-title-item:nth-child(2):hover~.animation,
#purchase-order .order-title .order-title-item:nth-child(2).active~.animation {
  width: 110px;
  left: 100px;
}

#purchase-order .order-title .order-title-item:nth-child(3) {
  width: 120px;
}

#purchase-order .order-title .order-title-item:nth-child(3):hover~.animation,
#purchase-order .order-title .order-title-item:nth-child(3).active~.animation {
  width: 120px;
  left: 210px;
}

#purchase-order .order-title .order-title-item:nth-child(4) {
  width: 120px;
}

#purchase-order .order-title .order-title-item:nth-child(4):hover~.animation,
#purchase-order .order-title .order-title-item:nth-child(4).active~.animation {
  width: 120px;
  left: 330px;
}

#purchase-order .order-title .order-title-item:nth-child(5) {
  width: 100px;
}

#purchase-order .order-title .order-title-item:nth-child(5):hover~.animation,
#purchase-order .order-title .order-title-item:nth-child(5).active~.animation {
  width: 100px;
  left: 450px;
}

#purchase-order .order-title .order-title-item:nth-child(6) {
  width: 110px;
}

#purchase-order .order-title .order-title-item:nth-child(6):hover~.animation,
#purchase-order .order-title .order-title-item:nth-child(6).active~.animation {
  width: 110px;
  left: 550px;
}

/*! list-order-items */
.list-order-items .item {
  padding: 8px 16px;
  border: 1px solid #F6F5F2;
  background: #F9F9F9;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: var(--radius-m);
  margin: 8px 0;
}

.list-order-items .item>div:first-child {
  background-color: var(--light-color);
  border-radius: var(--radius-m);
}

.list-order-items .item .state-item {
  pointer-events: none;
}

.list-order-items .item table {
  background-color: var(--light-color);
  width: 100%;
  border-radius: 4px;
}

.list-order-items .item table td {
  padding: 8px;
}

.list-order-items .item .item-img {
  min-width: 10px;
  width: 100px;
}

.list-order-items .item .item-img img {
  width: 100%;
  transform: scale(.8);
}

.list-order-items .item .item-name {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  -webkit-line-clamp: 2;
}

.list-order-items .item .item-name:hover {
  color: var(--main-color);
  transition: color .2s linear;
  cursor: pointer;
}

.list-order-items .item .cancel-state-item:hover {
  color: var(--light-color) !important;
}

.list-order-items .item .btn-canceled {
  padding: 0 !important;
  text-transform: uppercase;
  color: var(--red-color) !important;
}

.list-order-items .item .item-end {
  padding: 8px;
}

/*! change-password  */
.wrapper-input-password {
  max-width: 440px;
}

.input-password-group {
  display: flex;
  align-items: center;
  max-width: 221px;
}

.label-input-password {
  min-width: 150px;
}

.input-password {
  width: 100%;
  padding: 8px 16px;
  border: 2px solid transparent;
  border-radius: 10px;
  outline: none;
  background-color: #f8fafc;
  color: #0d0c22;
  transition: .5s ease;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.input-password::placeholder {
  color: #94a3b8;
}

.input-password:focus,
.input-password:hover {
  outline: none;
  border-color: rgba(129, 140, 248);
  background-color: #fff;
  box-shadow: 0 0 0 5px rgb(129 140 248 / 30%);
}

#change-password .icon-eyes {
  width: 32px;
  line-height: 32px;
  text-align: center;
  border-radius: 50%;
  transition: all .3s ease-in-out;
  cursor: pointer;
}

#change-password .icon-eyes:hover {
  background-color: rgba(0, 0, 0, 0.03);
  color: rgba(129, 140, 248);
}