#cart .title-cart {
  background-color: var(--light-color);
  border-top-left-radius: var(--radius-m);
  border-top-right-radius: var(--radius-m);
  border-bottom: 6px solid var(--btn-hover);
}

#cart .title-cart h4 {
  padding-left: 10px;
  border-bottom: 36px solid var(--btn-hover);
  border-right: 25px solid transparent;
  height: 0;
  width: 240px;
  color: #fff;
  margin-bottom: 0 !important;
  border-top-left-radius: var(--radius-m);
  line-height: 2.625rem;
}

#cart .wrapper-cart-item {
  background-color: var(--light-color);
  padding: 16px;
  border-radius: var(--radius-m);
  max-height: 400px;
}

#cart-items thead {
  border-bottom: 2px solid var(--border-color);
}

#cart-items thead .select-all {
  min-width: 120px;
}

#cart-items tbody tr {
  border-bottom: 1px solid var(--border-color);
}

#cart-items td,
#cart-items th {
  padding: 8px;
}

#cart .btn-update {
  padding: 4px 12px;
  border-radius: var(--radius-m);
}

#cart .btn-update:hover {
  background-color: var(--primary-color) !important;
  color: var(--light-color) !important;
  transition: background-color 0.5s ease-in-out;
}

#cart .btn-delete-selected {
  padding: 4px 12px;
  border-radius: var(--radius-m);
}

#cart .btn-delete-selected:hover {
  background-color: var(--red-color) !important;
  color: var(--light-color) !important;
  transition: background-color 0.5s ease-in-out;
}

#cart-items .item .img-item img {
  width: 100px;
}

#cart-items .item>div:nth-child(2) .name  {
  margin-bottom: 0 !important;
  min-width: 180px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  /* Số dòng giới hạn */
}

#cart-items .item>div:nth-child(2) .name:hover  {
  color: var(--main-color);
  cursor: pointer;
  transition: color 0.4s linear;
}


#cart-items .quantity button {
  padding: 8px 14px;
}

#cart-items .quantity input {
  outline: none;
  width: 40px;
  text-align: center;
}

#cart-items .quantity button,
#cart-items .quantity input {
  border: 1px solid var(--border-color);
  background-color: var(--light-color);
}

#cart-items .delete-item i {
  display: inline-block;
  padding: 16px;
}

#cart-items .delete-item i:hover {
  cursor: pointer;
  color: var(--main-color);
  transition: color 0.4s ease-in-out;
}

/*! confirm-cart */
#confirm {
  margin: 16px 0;
}

#confirm .return-home-icon i {
  transition: transform 600ms cubic-bezier(0.25, 0.1, 0.25, 1), color 1000ms;
  padding: 4px;
}

#confirm .return-home-icon i:hover {
  transform: rotate(-360deg);
  color: var(--main-color);
  cursor: pointer;
}

#confirm>div>div {
  background-color: var(--light-color);
  padding: 8px 16px;

}

#confirm>div>div:first-of-type {
  border-top-left-radius: var(--radius-m);
  border-top-right-radius: var(--radius-m);
  padding-top: 2rem !important;
}

#confirm>div>div:last-of-type {
  border-bottom-left-radius: var(--radius-m);
  border-bottom-right-radius: var(--radius-m);
  padding-bottom: 2rem !important;
}

#confirm .voucher {
  border: 1px solid var(--border-color);
  border-radius: var(--radius-m);
  outline: none;
  caret-color: var(--main-color);
  transition: border-color 0.4s ease-in-out;
  padding: 0 8px;
}

@media (max-width: 375px) {
  #confirm .voucher {
    width: 164px;
  }
}

#confirm .voucher:focus {
  border-color: var(--main-color);
}

#confirm .btn-apply,
#confirm .btn-buy {
  margin: 0 16px;
  padding: 4px 16px;
}

@media screen and (width >=576px) {
  #confirm .btn-buy {
    min-width: 88.53px;
  }
}

#confirm .custom-tooltip span {
  color: #fff!important;
  background-color: #fff!important;
}