:root {
  --border-color: #dee2e6;
  --main-color: #5497fe;
  --bg: rgba(11, 11, 11, 0.1);
  --light-color: #fff;
  --dark-color: #555;
  --red-color: #dc3545;
  --primary-color: #0d6efd;
  --btn-hover: #0d6efd;
  --radius-m: 8px;
  --radius-l: 16px;
}

/*? initial */
body {
  background-color: var(--bg) !important;
}

* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: var(--dark-color);
}

/*? custom scroll */
::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: .5rem;
}

::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 1rem;
  border: 6px solid transparent;
}

/* Hide Arrows From Number Input */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

/*? Regeneration Code */
.circle {
  display: inline-block;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  background-color: var(--main-color);
  color: var(--light-color);
  text-align: center;
  line-height: 2rem;
}

.btn-custom {
  outline: none;
  border-radius: var(--radius-m);
  background-color: var(--main-color);
  border: 2px solid var(--main-color);
  color: var(--light-color);
  transition: all 0.2s linear;
}

.btn-custom:hover {
  background-color: var(--btn-hover);
  border: 2px solid var(--btn-hover);
}

.badge-custom {
  display: inline-block;
  border-radius: 50%;
  background-color: var(--red-color);
  color: var(--light-color);
  text-align: center;
  line-height: 1.5rem;
  font-size: 0.75rem;
  font-weight: 700;
  width: 1.5rem;
  height: 1.5rem;
}

.breadcrumb-custom p {
  background-color: var(--light-color);
  color: var(--btn-hover);
  font-weight: bold;
  padding: 8px 12px;
  margin: 8px 0;
  border-radius: var(--radius-m);
  text-transform: capitalize;
}

.fs-12 {
  font-size: 0.75rem !important;
}

.fs-14 {
  font-size: 0.875rem !important;
}

/*! header */
header {
  background-color: var(--light-color);
}

header,
#helper {
  border-bottom: 2px solid var(--border-color);
}

#helper p {
  /* font-size: clamp(0.875rem, 1vw + 1rem, 1rem); */
  font-size: clamp(0.875rem, 2vw + 0.5rem, 1rem);
  margin: 0 !important;
}

#helper .full-name {
  cursor: pointer;
}

#helper .full-name:hover .sub-menu {
  display: block;
}

#helper .full-name .img-customer img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;

}

#helper .full-name .sub-menu {
  background-color: var(--light-color);
  display: none;
  list-style-type: none;
  z-index: 9999999;
  border-radius: var(--radius-m);
}

#helper .full-name .sub-menu li:hover a {
  background-color: var(--border-color);
  color: var(--main-color)
}

#helper .full-name .sub-menu>li>a {
  display: inline-block;
  min-width: 200px;
  transition: color 0.2s ease-in-out;
  border-radius: var(--radius-m);
  padding: 8px 4px;
  color: var(--dark-color);
  text-decoration: none;
}


#main-header #search {
  width: 100%;
  outline: none;
  border: 2px solid var(--border-color);
  border-right: none;
  border-start-start-radius: var(--radius-m);
  border-bottom-left-radius: var(--radius-m);
  caret-color: var(--main-color);
  transition: border-color 0.4s ease-in-out;
}

#main-header #search:focus {
  border-color: var(--main-color);
}

#main-header #btn-search {
  border-start-start-radius: 0;
  border-bottom-left-radius: 0;
}

#main-header #btn-search:hover {
  background-color: var(--btn-hover);
  border-color: var(--btn-hover);
}

#suggest-search {
  top: 100%;
  left: 0;
  right: 0;
  z-index: 999999;
  border: 2px solid var(--border-color);
  border-radius: var(--radius-m);
  background-color: var(--light-color);
  margin: 8px 12px;
  padding: 8px;
  max-height: 315px;
  overflow-y: auto;

}

#suggest-search .item {
  background-color: var(--light-color);
  padding: 4px;
  border-bottom: 1px solid var(--border-color);
  cursor: pointer;
  transition: all 0.2s linear;
}

#suggest-search .item .info-item {
  padding: 0 6px;
}

#suggest-search .item:hover {
  border-color: var(--main-color);
  transition: all 0.2s linear;
}

#suggest-search .item:hover .info-item p:nth-child(1) {
  color: var(--main-color);
  transition: all 0.2s linear;
}

#suggest-search .item .img-item img {
  width: 80px;
  transform: scale(.8);
}

.heart-icon,
.cart-icon {
  position: relative;
  cursor: pointer;
}

span.badge-custom {
  position: absolute;
  top: -5px;
  right: -16px;
}

/*! end header */

/*! nav */
/* nav {
  margin-top: 12.375rem;
}

@media only screen and (width < 992px) {
  nav {
    margin-top: 16.625rem;
  }
}

@media only screen and (width < 768px) {
  nav {
    margin-top: 20.125rem;
  }
} */

nav {
  background-color: var(--light-color);
}

.nav-item:hover>a,
.nav-item:hover>span {
  color: var(--main-color) !important;
}

@media (min-width: 992px) {
  .nav-item:hover {
    background: #e5f1fe;
    box-shadow: 0px 8px 24px 0px rgba(0, 41, 87, 0.1);
  }
}


.nav-link {
  padding: 8px 16px !important;
  border-radius: var(--radius-l);
}

.nav-link.active {
  background: #e5f1fe;
  box-shadow: 0px 8px 24px 0px rgba(0, 41, 87, 0.1);
  color: var(--main-color) !important;

}

.nav-link.active>a {
  color: var(--main-color) !important;
}

/*! end nav */

/*! banner */
main #banner {
  margin: 8px 0;
}

main #banner .carousel-item img {
  height: 100%;
  aspect-ratio: 1200 / 375;
}

main #banner .sub-carousel {
  gap: 14px;
}

main #banner .sub-carousel div img {
  width: 100%;
  aspect-ratio: 450 / 135;
}

main #banner img {
  border-radius: var(--radius-m);
}

/*! end-banner */

/*! adv */
#ads p {
  background-color: var(--light-color);
  border-radius: var(--radius-m);
  color: var(--main-color);
  padding: 4px;
  margin: 8px 0;
  text-align: center;
}

/*! end-adv */

main {
  margin: 8px 0;
}

/*! best-seller and new-products */
.title-product {
  text-align: center;
  color: var(--main-color);
  background-color: var(--light-color);
  border-bottom: 6px solid var(--main-color);
  border-top-left-radius: var(--radius-m);
  border-top-right-radius: var(--radius-m);
  padding: 0.5rem;
  font-weight: bold;
}

#best-seler .slick-carousel .item,
#feature-products .item {
  background-color: var(--light-color);
  padding: 24px;
  border-radius: var(--radius-m);
  position: relative;
  height: 100%;

}

#best-seler .slick-carousel .item .discount-percent,
#feature-products .item .discount-percent {
  position: absolute;
  top: 20px;
  background-color: var(--red-color);
  color: var(--light-color);
  padding: 4px 8px;
  border-radius: var(--radius-m);
  z-index: 10;
}

#best-seler .slick-carousel .name-item a,
#feature-products .name-item a {
  color: var(--dark-color);
}

#best-seler .slick-carousel .name-item,
#best-seler .slick-carousel .desc-item p,
#feature-products .name-item,
#feature-products .desc-item p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  margin: 0;
  cursor: pointer;
}

#best-seler .slick-carousel .name-item:hover a,
#feature-products .name-item:hover a {
  color: var(--btn-hover);
  transition: color 0.2s linear;
}

#best-seler .slick-carousel .price-item .discount,
#feature-products .price-item .discount {
  text-decoration: line-through;
}
#best-seler .slick-carousel .img-item,
#feature-products .img-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

#best-seler .slick-carousel .img-item img,
#feature-products .img-item img {
  width: 80%;
  aspect-ratio: 679/486;
  transform: scale(.8);
}

/* Zoom-in on hover */
#best-seller .slick-carousel.item:hover,
#feature-products .item:hover {
  transform: scale(1.05);
}

/* Smooth transition */
#best-seller .slick-carousel .item,
#feature-products .item {
  transition: transform 0.4s ease;
}

#best-seler .owl-nav {
  display: block !important;
}

#best-seler .owl-nav button {
  z-index: 999;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  padding: 12px 14px !important;
  border-radius: 50%;
  transition: all 0.2s ease;
  border: 2px solid var(--border-color);
}

#best-seler .owl-nav button:hover {
  box-shadow: 0 0 6px 4px rgba(0, 0, 0, 0.4);
}

#best-seler .owl-nav button.owl-prev {
  left: 4px;
}

#best-seler .owl-nav button.owl-next {
  right: 4px;
}

#feature-products {
  margin-top: 2rem;
}

/*! end-best-seller and end-new-products */

/*! footer */
footer .footer-b div,
footer li {
  color: var(--light-color);
}

footer ul {
  padding-left: 0 !important;
}

footer li {
  list-style: none;
  line-height: 2.2;
}

footer .logo-footer {
  margin-top: -1.5rem;
}

footer .footer-b .title {
  border-bottom: 4px solid #fff;
  display: inline-block;
  margin-bottom: 8px;
}
/*! pagination  */
#pagination {
  margin-top: 12px;
  background-color: #f9f9f9;
  border-radius: var(--radius-m);
  padding: 8px 0;
}

#pagination .pagination-item a {
  display: inline-block;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  background-color: var(--light-color);
  text-align: center;
  line-height: 2rem;
  color: var(--dark-color);
  text-decoration: none;
  border: 1px solid #c6cdd3;
  margin: 0 1px;
  transition: background-color 0.2s ease;
}

#pagination .pagination-item a:active,
#pagination .pagination-item a:active i,
#pagination .pagination-item a:hover {
  background-color: var(--main-color);
  color: var(--light-color);
}

#pagination .pagination-item a:hover i {
  color: var(--light-color);
}

/*! custom slick-carousel */
.slick-slider .slick-arrow {
  border-radius: 50%;
  transition: all 0.2s ease;


}

.slick-slider .slick-prev {
  z-index: 2;
  left: 0;

}

.slick-slider .slick-next {
  right: 0;
}

/*! not-found  */
#not-found {
  width: 80%;
  margin: 0 auto;
}